<div>
  <div class="row course-name">
    <div class="col-md-8"><p class="h5"><a [routerLink]="['/courses', course.id]">{{ course.name }}</a> </p></div>
    <div class="col-md-4" style="text-align:right"><ew-rating [rating]=course.rating [showImmediately]=true></ew-rating></div>
  </div>

  <!--
  <div class="row">
    <div class="col"><p class="h6"><i>Series</i></p></div>
    <div class="col"><p class="h6"><i>Class</i></p></div>
    <div class="col"><p class="h6"><i>Difficulty</i></p></div>
    <div class="col"><p class="h6"><i>Car Theme</i></p></div>
    <div class="col"><p class="h6"><i>Car</i></p></div>
    <div class="col"><p class="h6"><i>Season</i></p></div>
    <div class="col"><p class="h6"><i>Weather</i></p></div>
    <div class="col"><p class="h6"><i>Time of Day</i></p></div>
  </div>
  -->

  <div class="row">
    <div class="col-md-8"><p class="user">by {{ course.designer }}</p></div>
    <div class="col" style="text-align:right"><p class="forza-share">{{ course.forzaSharing | forzashare }}</p></div>
  </div>

  <div class="row">
    <div [ngSwitch]="course.seriesCode" class="col">
      <img *ngSwitchCase="SERIES.roadRacing" src="assets/icons/series/road.png" alt="Series" title="Road Racing" class="rounded">
      <img *ngSwitchCase="SERIES.dirtRacing" src="assets/icons/series/dirt.png" alt="Series" title="Dirt Racing" class="rounded">
      <img *ngSwitchCase="SERIES.crossCountry" src="assets/icons/series/country.png" alt="Series" title="Cross Country" class="rounded">
      <!-- <img *ngSwitchCase="SERIES.streetScene" src="https://placehold.it/50x50" alt="Series" title="Street Scene" class="rounded"> -->
    </div>
    <div [ngSwitch]="course.carClassCode" class="col">
      <img *ngSwitchCase="CARCLASS.A800" src="assets/icons/carclass/cc_a.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.B700" src="assets/icons/carclass/cc_b.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.C600" src="assets/icons/carclass/cc_c.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.D500" src="assets/icons/carclass/cc_d.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.S1900" src="assets/icons/carclass/cc_s1.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.S2998" src="assets/icons/carclass/cc_s2.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.X999" src="assets/icons/carclass/cc_x.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.allclasses" src="assets/icons/carclass/cc_open.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
    </div>
    <div class="col"><img src="https://placehold.it/50x50" alt="{{course.difficultyText}}" title="{{course.difficultyText}}" class="rounded"></div>
    <div class="col" style="color: darkgray">
      <p *ngIf="course.carId" style="text-align:right">{{ course.carName}}</p>
      <p *ngIf="course.carThemeCode && !course.carId" style="text-align:right">{{ course.carThemeText}}</p>
    </div>
  </div>
</div>
