<div class="form-row course-name">
  <div class="col text-center display-4">
    {{ course?.name }}
  </div>
</div>

<!-- ToDo: Titel & Bilder dynamisch setzen -->
<div class="form-row text-center">
  <div class="col">
    <img src="assets/images/fh4.jpg" height="50" width="50" alt="Game" title="{{course?.gameText}}" class="rounded">
  </div>
  <div [ngSwitch]="course?.typeCode" class="col">
    <img *ngSwitchCase="TRACKTYPE.standard" src="https://placehold.it/50x50/0000" alt="Type" title="Standard Track">
    <img *ngSwitchCase="TRACKTYPE.community" src="https://placehold.it/50x50/0000FF" alt="Type" title="Community Track">
  </div>
  <div [ngSwitch]="course?.seriesCode" class="col">
    <img *ngSwitchCase="SERIES.roadRacing" src="assets/icons/series/road.png" alt="Series" title="{{course.seriesText}}" class="rounded">
    <img *ngSwitchCase="SERIES.dirtRacing" src="assets/icons/series/dirt.png" alt="Series" title="{{course.seriesText}}" class="rounded">
    <img *ngSwitchCase="SERIES.crossCountry" src="assets/icons/series/country.png" alt="Series" title="{{course.seriesText}}" class="rounded">
    <!-- <img *ngSwitchCase="SERIES.streetScene" src="https://placehold.it/50x50" alt="Series" title="Street Scene" class="rounded"> -->
  </div>
  <div [ngSwitch]="course?.carClassCode" class="col">
    <img *ngSwitchCase="CARCLASS.A800" src="assets/icons/carclass/cc_a.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.B700" src="assets/icons/carclass/cc_b.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.C600" src="assets/icons/carclass/cc_c.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.D500" src="assets/icons/carclass/cc_d.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.S1900" src="assets/icons/carclass/cc_s1.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.S2998" src="assets/icons/carclass/cc_s2.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.X999" src="assets/icons/carclass/cc_x.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
      <img *ngSwitchCase="CARCLASS.allclasses" src="assets/icons/carclass/cc_open.png" alt="Car Class" title="{{course.carClassText}}" class="rounded">
  </div>
</div>

<div class="form-row section">
  <!-- Prio nach Detail: Car->Theme(->Class) -->
  <div class="col" class="text-left text-warning">
    <p *ngIf="course?.carId"><i>{{ course?.carName }} </i></p>
    <p *ngIf="course?.carThemeCode  && !course?.carId"><i>{{ course?.carThemeText }} </i></p>
  </div>
</div>

<div *ngIf="course?.description" class="form-row section">
  <div class="col">
    <p><i>{{ course?.description }} </i></p></div>
</div>

<!-- rating -->
<div class="form-row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div *ngIf="course" class="col-sm-3"><p class="text-right"><ew-rating [rating]=course.rating [showImmediately]=false></ew-rating></p></div>
</div>

<!-- standard info -->
<div class="form-row section">
  <div class="col-sm-3"><h6>Designed by</h6></div>
  <div class="col-sm-3"><p class="user">{{ course?.metaInfo.createdName }}</p></div>
  <div class="col-sm-3 forza-share">Sharing Code</div>
  <div class="col-sm-3"><p class="forza-share text-right">{{ course?.sharingCode | forzashare}}</p></div>
</div>

<div class="form-row section">
  <div class="col-sm-6">
    <img *ngIf="course?.difficultyCode == DIFFICULTY.veryEasy" src="assets/icons/difficulty/very_easy.png" class="thumbnail float-right rounded" alt="difficulty" title="{{course?.difficultyText}}">
    <img *ngIf="course?.difficultyCode == DIFFICULTY.easy" src="assets/icons/difficulty/easy.png" class="thumbnail float-right rounded" alt="difficulty" title="{{course?.difficultyText}}">
    <img *ngIf="course?.difficultyCode == DIFFICULTY.medium" src="assets/icons/difficulty/medium.png" class="thumbnail float-right rounded" alt="difficulty" title="{{course?.difficultyText}}">
    <img *ngIf="course?.difficultyCode == DIFFICULTY.hard" src="assets/icons/difficulty/hard.png" class="thumbnail float-right rounded" alt="difficulty" title="{{course?.difficultyText}}">
    <img *ngIf="course?.difficultyCode == DIFFICULTY.veryHard" src="assets/icons/difficulty/very_hard.png" class="thumbnail float-right rounded" alt="difficulty" title="{{course?.difficultyText}}">
  </div>
  <div class="col-sm-3"><h6>Difficulty</h6></div>
  <div class="col-sm-3"><p class="text-right">{{ course?.difficultyText }}</p></div>
</div>
<div class="form-row">
  <div class="col-sm-6"></div>
  <div class="col-sm-3"><h6>Terrain</h6></div>
  <div class="col-sm-3">
    <!-- ToDO: Comma sep -->
    <!-- https://stackoverflow.com/questions/53394433/comma-separated-list-using-angular-ngfor-and-ngif/53394867 -->
    <p class="text-right">
      <span *ngFor="let terra of course?.terrain; last as isLast">{{ terra.text }}<span *ngIf="!isLast">, </span></span>
    </p>
  </div>
</div>

<div class="form-row">
  <div class="col-sm-6"></div>
  <div class="col-sm-3"><h6>Starting Area</h6></div>
  <div class="col-sm-3"><p class="text-right">{{ course?.forzaRouteName }}</p></div>
</div>

<div class="form-row"><span class="col border-bottom border-primary"></span></div>
<p class="font-weight-light">Conditions</p>

<div class="form-row">
  <!-- <div class="col-sm-6"><img src="assets/icons/weather.png" alt="weather" class="thumbnail float-right"></div> -->
  <div class="col-sm-6">
    <img *ngIf="course?.weatherCode == WEATHER.current" src="assets/images/weather/current.png" class="thumbnail float-right" alt="weather" title="(current)">
    <img *ngIf="course?.weatherCode == WEATHER.clear" src="assets/images/weather/clear.png" class="thumbnail float-right" alt="weather" title="clear">
    <img *ngIf="course?.weatherCode == WEATHER.clearPostRain" src="assets/images/weather/clear-post-rain.png" class="thumbnail float-right" alt="weather" title="clear post rain">
    <img *ngIf="course?.weatherCode == WEATHER.cloudy" src="assets/images/weather/cloudy.png" class="thumbnail float-right" alt="weather" title="cloudy">
    <img *ngIf="course?.weatherCode == WEATHER.cloudyPostRain" src="assets/images/weather/cloudy-post-rain.png" class="thumbnail float-right" alt="weather" title="cloudy post rain">
    <img *ngIf="course?.weatherCode == WEATHER.overcast" src="assets/images/weather/overcast.png" class="thumbnail float-right" alt="weather" title="overcast">
    <img *ngIf="course?.weatherCode == WEATHER.lightRain && course?.seasonCode == SEASON.winter" src="assets/images/weather/light-snow.png" class="thumbnail float-right" alt="weather" title="light snow">
    <img *ngIf="course?.weatherCode == WEATHER.lightRain && course?.seasonCode != SEASON.winter" src="assets/images/weather/light-rain.png" class="thumbnail float-right" alt="weather" title="light rain">
    <img *ngIf="course?.weatherCode == WEATHER.heavyRain && course?.seasonCode == SEASON.winter" src="assets/images/weather/heavy-snow.png" class="thumbnail float-right" alt="weather" title="heavy snow">
    <img *ngIf="course?.weatherCode == WEATHER.heavyRain && course?.seasonCode != SEASON.winter" src="assets/images/weather/heavy-rain.png" class="thumbnail float-right" alt="weather" title="heavy rain">
    <img *ngIf="course?.weatherCode == WEATHER.fog" src="assets/images/weather/fog.png" class="thumbnail float-right" alt="weather" title="fog">
  </div>
  <div class="col-sm-3"><h6>Season</h6></div>
  <div class="col-sm-3"><p class="text-right">{{ course?.seasonText }}</p></div>
</div>
<div class="form-row">
  <div class="col-sm-6"></div>
  <div class="col-sm-3"><h6>Weather Conditions</h6></div>
  <div class="col-sm-3"><p class="text-right">{{ course?.weatherText }}</p></div>
</div>
<div class="form-row">
  <div class="col-sm-6"></div>
  <div class="col-sm-3"><h6>Time of Day</h6></div>
  <div class="col-sm-3"><p class="text-right">{{ course?.daytimeText }}</p></div>
</div>

<div class="form-row"><span class="col border-bottom border-primary"></span></div>
<p class="font-weight-light">Gallery</p>

<!-- nette idee -->
<!-- https://makitweb.com/html-how-to-show-text-above-image-on-hover/ -->
<div class="form-row">
  <div class="col" style="text-align: right;">
    <div *ngIf="course?.images;else noImagesTmpl">
      <div *ngFor="let image of screenshots; let i=index">
        <img src="{{ image.thumb }}" width="320" class="rounded" style="margin-bottom: 10px; cursor: pointer;" title="click to enlarge" (click)="open(i)">
      </div>
    </div>
    <ng-template #noImagesTmpl>
      <img src="assets/images/no-images.png" alt="no course images" width="50" style="margin-bottom: 20px;">
    </ng-template>
  </div>
</div>


<!-- social -->
<div class="form-row"><span class="col border-bottom border-primary"></span></div>
<p class="font-weight-light">What Drivers say</p>

<div class="form-row" style="margin-bottom: 20px;">
  <div *ngIf="course" class="col-sm-3">
    <ew-voting
      [ownerType]="DAO.course"
      [ownerId]=course?.metaInfo.id>
    </ew-voting>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>

<div *ngIf="course" class="form-row">
  <div class="col">
    <ew-comment
      [readOnly]="authenticationService.currentUserValue.roleCode==ROLE.Guest"
      [ownerType]=DAO.course
      [ownerId]=course?.metaInfo.id>
    </ew-comment>
  </div>
</div>

<div class="form-row" style="margin-top: 20px;"><span class="col border-bottom border-primary"></span></div>
<p class="font-weight-light">Analytics</p>

<ng-container *ngIf="trackUsage$ | async as usage; else loadingUsage">
  <div *ngIf="usage.length==0" class="form-row">
    <div class="col">
      <p><i>This course is not used in any championships yet.</i></p>
    </div>
  </div>

  <div *ngIf="usage.length>0">
    <div class="form-row">
      <div class="col">
        <p>Events hosting this course:</p>
      </div>
    </div>

    <div class="form-row">
      <table class="table table-borderless table-responsive-sm">
        <thead>
          <tr>
            <th scope="col">Championship</th>
            <th scope="col">Race(s)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cmp of usage">
            <td><a [routerLink]="['/championships', cmp.championshipId]">{{ cmp.championshipName }}</a> </td>
            <td>{{ cmp.raceNumbers }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ng-container>

<ng-template #loadingUsage>
  <div class="spinner-border"></div>
</ng-template>

<div class="form-row" style="margin-top: 20px;"><span class="col border-bottom border-primary"></span></div>
<p class="font-weight-light">My Stuff</p>

<div class="form-row buttons-section">
  <div class="col-sm-3">
    <!-- change button is always shown as a teaser :P -->
    <button
      type="button"
      [routerLink]="['/course/edit', courseId]"
      class="btn btn-primary btn-additional btn-block"
      [disabled]="!authenticationService.canModify(course?.metaInfo.createdId)">
      Change
    </button>
  </div>
</div>

<div class="form-row buttons-section">
  <div class="col-sm-3" >
    <button
      type="button"
      [routerLink]="['/images/manage', 'rat' + courseId]"
      class="btn btn-primary btn-additional btn-block"
      [disabled]="!authenticationService.canModify(course?.metaInfo.createdId)">
      Manage Screenshots
    </button>
  </div>
</div>

    <!-- ToDo: Check for CMPs & delete related Objects (API)
    <button
    *ngIf="authenticationService.canModify(course?.metaInfo.createdId)"
    type="button"
    class="btn btn-warning btn-additional"
    (click)=deleteCourse(courseId)>
    Delete
    </button>
    -->
