<form [formGroup]="searchFrm">
  <div class="form-row search">
    <!-- Custom Races only in FH4 at this time
    <div class="colm-md4">
      <select id="selGame" class='form-control' formControlName="gameCode" (change)="searchHandler()">
        <option *ngFor="let game of Game" value="{{game.code}}">{{ game.text }}</option>
      </select>
    </div>
     -->

    <!-- ToDo: auf type="search" umstellen -->
    <div class="col">
      <input
        id="iptSearch"
        type="text"
        class="form-control"
        formControlName="searchTerm"
        placeholder="search blueprints"
        (keyup)="searchHandler()"
      />
    </div>
  </div>

  <div class="form-row search">
    <hr>
    <!-- es geht beides: a/button; button bevorzugt (disabled) -->
    <!-- <a class="btn btn-primary" routerLink="/course/add">New</a> -->
    <button
      type="button"
      [routerLink]="['/course/add']"
      class="btn btn-primary btn-additional"
      [disabled]="!authenticationService.canCreate()">
      New
    </button>
  </div>
</form>

<ng-container *ngIf="courses$ | async as courses; else loadingCourses">

  <table class="table table-borderless table-responsive-sm">
    <tbody>
      <tr *ngFor="let item of courses | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <ew-browse-courses [course]=item></ew-browse-courses>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="courses.length">
  </ngb-pagination>

</ng-container>

<ng-template #loadingCourses>
  <div class="spinner-border"></div>
</ng-template>
