<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <!-- Knopf oben rechts -->
  <button type="button" class="close btn btn-outline-dark" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<form [formGroup]="pwdForm" (ngSubmit)="onSubmit(name)">
  <div class="modal-body">
    <div class="form-row">
      <!-- Gruppen für Fehlermledungen & Styling -->
      <div class="form-group col-md-6">
        <label for="iptCurrentPwd">Current Password</label>
        <input id="iptCurrentPwd" formControlName="currentPwd" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && frm.currentPwd.errors }">
        <div *ngIf="submitted && frm.currentPwd.errors" class="invalid-feedback">
          <div *ngIf="frm.currentPwd.errors.required">Password is required</div>
          <div *ngIf="frm.currentPwd.errors.passwordCorrect">Password is incorrect</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="iptNewPwd">Password</label>
        <input id="iptNewPwd" formControlName="newPwd" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && frm.newPwd.errors }">
        <small class="form-text text-muted">Your password must be at least 8 characters long</small>
        <div *ngIf="submitted && frm.newPwd.errors" class="invalid-feedback">
          <div *ngIf="frm.newPwd.errors.required">Password is required</div>
          <div *ngIf="frm.newPwd.errors.minlength">Must be at least 8 characters</div>
          <div *ngIf="frm.newPwd.errors.hasNumber">Must contain at least one number</div>
          <div *ngIf="frm.newPwd.errors.hasCapitalCase">Must contain at least 1 character in Capital case</div>
          <div *ngIf="frm.newPwd.errors.hasSmallCase">Must contain at least 1 character in small case</div>
          <div *ngIf="frm.newPwd.errors.hasSpecialCharacters">Must contain at least 1 special characters</div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="iptConfirmPwd">Confirm Password</label>
        <input id="iptConfirmPwd" formControlName="confirmPwd" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && frm.confirmPwd.errors }">
        <div *ngIf="submitted && frm.confirmPwd.errors" class="invalid-feedback">
          <div *ngIf="frm.confirmPwd.errors.required">Please repeat password</div>
          <div *ngIf="frm.confirmPwd.errors.mustMatch">Passwords do not match</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">Could not change password</div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Change</button> <!-- Validierung im onSubmit -->
    <!-- <button type="submit" [disabled]="pwdForm.invalid" class="btn btn-primary"  [ngClass]="{ 'is-invalid': submitted && frm.errors }">Change</button>  evtl alle prüfen mit && -->
     <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Change</button> -->
  </div>
</form>
